body {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: white;
  /* background: linear-gradient(90deg,rgba(23, 7, 1, 1) 0%, rgb(37, 12, 1) 50%, rgba(23, 7, 1, 1) 100%); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
